<!-- Bootstrap core JavaScript
    ================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<div class="mastfoot">
    <div class="inner">
        <p>Find the source code for ForgetPad at <a href="https://github.com/anjannair/forgetpad"><i class="fa fa-github"></i></a>
        </p>
    </div>
</div>

</div>

</div>

</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
    crossorigin="anonymous"></script>
<script src="https://kit.fontawesome.com/72e6357ed4.js" crossorigin="anonymous"></script>
</body>

</html>