<%- include('partials/header') %>
    <div class="site-wrapper">

        <div class="site-wrapper-inner">

            <div class="cover-container">

                <div class="masthead clearfix">
                    <div class="inner">
                        <h3 class="masthead-brand">ForgetPad</h3>
                        <nav>
                            <ul class="nav masthead-nav">
                                <li><a href="/">Home</a></li>
                                <li class="active"><a href="/features">Features</a></li>
                                <li><a href="/login">Login</a></li>
                            </ul>
                        </nav>
                    </div>
                </div>

                <div class="card text-dark">
                    <h1 class="card-header">FEATURES</h1>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">Open-Source</li>
                        <li class="list-group-item">Encrypted</li>
                        <li class="list-group-item">No trackers, no ads and no bullshit</li>
                    </ul>
                </div>
                <div class="inner cover">
                    <p class="lead" style="padding-top: 50px;">
                        <a href="/note" class="btn btn-lg btn-default">Get Started</a>
                    </p>
                </div>
                <%- include('partials/footer') %>