<%- include('partials/header') %>
    <div class="site-wrapper">

        <div class="site-wrapper-inner">

            <div class="cover-container">

                <div class="masthead clearfix">
                    <div class="inner">
                        <h3 class="masthead-brand">ForgetPad</h3>
                        <nav>
                            <ul class="nav masthead-nav">
                                <li class="active"><a href="/">Home</a></li>
                                <li><a href="/features">Features</a></li>
                                <li><a href="/login">Login</a></li>
                            </ul>
                        </nav>
                    </div>
                </div>

                <div class="inner cover">
                    <h1 class="cover-heading">Encrypted Notes Everywhere.</h1>
                    <p class="lead">ForgetPad is a notepad built keeping in mind your privacy. All notes are stored
                        encrypted and are accessible on the go!</p>
                    <p class="lead">
                        <a href="/note" class="btn btn-lg btn-default">New Note</a>
                    </p>
                </div>
                <%- include('partials/footer') %>